<mat-toolbar *ngIf="navbar">
    <button class="r-padding highlight" mat-button routerLink>Home</button>
    <button class="r-padding highlight" mat-button routerLink="/problems">Problems</button>
    <button class="r-padding highlight" mat-button routerLink="/challenges">Challenges</button>
    <mat-form-field *ngIf="searchBar" class="r-padding l-margin" appearance="outline" subscriptSizing="dynamic">
        <input matInput #si type="search" autocomplete="none" placeholder="Search or jump to..."/>
        <button mat-icon-button matSuffix class="highlight" routerLink="search" [queryParams]="{sv: si.value}">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <div *ngIf="guest" [class]="class">
        <button mat-stroked-button class="r-padding" color="primary" routerLink="/sign-in">
            <span>Sign in</span>
        </button>
        <button mat-flat-button color="primary" routerLink="/sign-up">
            <span>Sign up</span>
        </button>
    </div>
    <div *ngIf="!guest" [class]="class">
        <button mat-icon-button class="highlight" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>    
    </div>
    <mat-menu #menu>
        <button mat-menu-item (click)="goToProfile()" (mouseover)="setColor(pi, ps, true)"
                (mouseleave)="setColor(pi, ps, false)">
            <mat-icon #pi>portrait</mat-icon>
            <span #ps>Profile</span>
        </button>
        <button mat-menu-item (click)="goToChallenges()" (mouseover)="setColor(ci, cs, true)"
                (mouseleave)="setColor(ci, cs, false)">
            <mat-icon #ci>folder_special</mat-icon>
            <span #cs>Challenges</span>
        </button>
        <button mat-menu-item (click)="logout()" (mouseover)="setColor(ei, es, true)"
                (mouseleave)="setColor(ei, es, false)">
            <mat-icon #ei>exit_to_app</mat-icon>
            <span #es>Sign out</span>
        </button>
    </mat-menu>
</mat-toolbar>
