<mat-card class="mc">
    <mat-card-header>
        <mat-card-title class="large">
            Python Challenge Master is a convenient platform to help you hone your skills
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/logo.png" alt="logo">
    <mat-card-header>
        <mat-card-subtitle class="medium">
            Users have the freedom to browse through a wide range of questions categorized based on topics and difficulty levels.<br>
            Our platform also empowers users to create their own challenges and share them with the community.<br>
            We strive to provide a comprehensive platform that caters to the needs of both beginner and experienced programmers.
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>